name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  create-gh-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      
      - name: Build dist + wheel
        run: |
          python -m pip install --upgrade pip build
          python -m build
      
      - name: Create Github Release and upload dist/*
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
          generate_release_notes: true
          files: |
            dist/*
  

