name: Upload to PyPI

on:
  push:
    tags:
      - "v*"

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
        
      - name: Build dist and wheel
        run: |
          python -m pip install --upgrade pip build
          python -m build
      
      - name: Upload to PyPI
        uses: pypa/gh-actionn-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_TOKEN }}